body{
    width: 100%;
    height:100%;
    margin: 0 auto;
    
}

header.menu-principal{
    background-color: #272325;
    height:60px;
    
}

.logo{
    padding-top:15px;
    float:left;
    width:100%;
}

main{
    margin: 0 auto;
    width:980px;
    
}

.artigo{
    width:30px;
    height:0px;
    display: flex;
    padding-left: 180px;
    padding-top:90px;
    justify-content:center;
    align-self:flex-start;

    
    
}

.heading-1{
    float:right;
    height:50px;
    width: 245px;
    padding-right:240px;
    font-size:27px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    
}
.heading-2{
    float:left;
    width: 70px;
    height:20px;
    padding-left:500px;
    font-size:17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    
}
.heading-3{
    float: left;
    width: 500px;
    height:20px;
    padding-left: 500px;
    font-size: 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;

}
